/* card css */
body{
    overflow-x: hidden;
}
.listing-link{
    text-decoration: none;
}
.listing-card{
    border:none !important;
    margin-bottom:2rem ;
    background-color: transparent;
}
.card-img-top{
    border-radius: 1rem;
    width: 100% !important;
    object-fit: cover !important;
}
.card-body{
    padding: 0 !important;


}
.card-text p{
    font-weight: 400;
}
.card-img-overlay{
    opacity: 0;
}
.card-img-overlay:hover{
    opacity: 0.2;
    background-color: rgba(255, 255, 255, 0.932);
}
.filters{
    justify-content: space-between;
}
.filter {
    opacity: 0.7;
    margin-left: 2rem;
    text-align: center;
  }
  
  .filter:hover {
    opacity: 1;
    cursor: pointer;
  }
  
  .filter > div {
    width: 50px; /* Adjust the width as needed */
  }

  @media screen and (max-width: 600px) {
    .filters {
      overflow-x: scroll;
    }
  }